.container {
    margin-right: 1.1em;
    padding-bottom: 0.5em;
}

.input {
    width: 100%;
    height: 2.5em;
}

.suggestionsContainerOpen {
    border: 1px solid #aaa;
    position: fixed;
    width: 23.5em;
    z-index: 2;
    background-color: #fff;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.suggestion {
    cursor: pointer;
    padding-left: 0.5em;
}

.suggestionHighlighted {
    background-color: #ddd;
}

.suggestionItem {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}